html,
body {
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

#headtext {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    float: right;
}

.header {
    z-index: 1;
    position: fixed;
    width: 100%;
    margin-top: -10px;
    margin-left: 12px;
    margin-right: auto;
    height: 100px;
    background-color: #2F3F73;
    margin-bottom: 10px;
}

.left {
    position: relative;
    float: left;
    margin-top: 100px;
    margin-left: 25px;
    width: 20%;
    min-height: 900px;
    height: auto;
    padding-left: 30px;
    background-color: #FFE5AA;
    margin-bottom: 10px;
}

.right {
    position: relative;
    float: right;
    margin-top: 100px;
    width: 78%;
    min-height: 900px;
    height: auto;
    padding-left: 10px;
    background-color: #FFDFAC;
    margin-bottom: 10px;
}

.left-top {
    margin-top: 10px;
    height: 200px;
}

.left-bottom {
    margin-top: 30px;
}

.right-nav {
    display: block;
}

.rightbody {
    margin-top: 70px;
    display: block;
}

#table {
    width: 100%;
}
#indexes {
    margin-bottom: 30px;
}

th {
    width: 200px;
}

#table,
th,
td {
    border: 1px solid black;
    text-align: center;
}
.fileholder{
    margin-right: 40px;
}
.search{
    margin-left: 15px;
    width: 171px;
}